CustomerServiceManager/src/main/resources/ServicePlan.wsdl

<?xml version='1.0' encoding='UTF-8'?><wsdl:definitions xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://webservice.customerdetails.customerservice.com/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns1="http://schemas.xmlsoap.org/soap/http" name="ServicePlanWSService" targetNamespace="http://webservice.customerdetails.customerservice.com/">
    <wsdl:types>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:ns0="http://webservice.customerdetails.customerservice.com/" targetNamespace="http://webservice.customerdetails.customerservice.com/">
  <xsd:complexType name="servicePlan">
    <xsd:sequence>
      <xsd:element minOccurs="0" name="end_date" type="xsd:string"/>
      <xsd:element minOccurs="0" name="id" type="xsd:int"/>
      <xsd:element minOccurs="0" name="service_plan" type="xsd:string"/>
      <xsd:element minOccurs="0" name="start_date" type="xsd:string"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="getServicePlan"/>
  <xsd:complexType name="getServicePlanResponse">
    <xsd:sequence>
      <xsd:element maxOccurs="unbounded" minOccurs="0" name="return" type="ns0:servicePlan"/>
    </xsd:sequence>
  </xsd:complexType>
  <xsd:element name="getServicePlan" type="ns0:getServicePlan"/>
  <xsd:element name="getServicePlanResponse" type="ns0:getServicePlanResponse"/>
</xsd:schema>
    </wsdl:types>
    <wsdl:message name="getServicePlan">
        <wsdl:part element="tns:getServicePlan" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="getServicePlanResponse">
        <wsdl:part element="tns:getServicePlanResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="ServicePlanWS">
        <wsdl:operation name="getServicePlan">
            <wsdl:input message="tns:getServicePlan" name="getServicePlan"/>
            <wsdl:output message="tns:getServicePlanResponse" name="getServicePlanResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ServicePlanWSServiceSoapBinding" type="tns:ServicePlanWS">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="getServicePlan">
            <soap:operation soapAction="" style="document"/>
            <wsdl:input name="getServicePlan">
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output name="getServicePlanResponse">
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="ServicePlanWSService">
        <wsdl:port binding="tns:ServicePlanWSServiceSoapBinding" name="ServicePlanWSPort">
            <soap:address location="http://localhost:7001/UtilityWebService/services/serviceplan"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>